@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none !important;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2.5rem;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.custombtn{
    margin: 1rem 0px;
    display: inline-block;
    font-size: 1.3rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
   line-height: 1.5rem;
}
.addCart{
    padding: 1rem;
        display: block;
    text-align: center;
}

.custombtn:hover{
    background: var(--green);
    color: white !important;
    
}

.subscribebtn{
    border: 1px solid var(--black);
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    color: var(--black);
    margin-left: 1rem;
}
.subscribebtn:hover {
    background-color: var(--black);
    color: white;
}
.banner-img .image{
    width: 100%;height: 35rem; 
    overflow: hidden;position: relative;
}
.banner-img .image img{
    object-fit: cover; height: 100%;
}
.plandesc p{
    margin-left: 2rem;
    font-size: 1.5rem;
}
.plandesc{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem 1.6rem;
    background-color: #e9ecef;
}
.heading2{
    color: #36b1cd;
    font-size: 1.5rem;
}
#subscribeForm label,#chkOutForm label{
    font-weight: bold;
}
#subscribeForm label,#subscribeForm input{
    font-size: 1.3rem;
}
.mr1{
    margin: 1rem 0;
}
.menuDesc{
    background-color: white;
    padding: 1rem;
}
.menuDesc #dispMenu{
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 9px;
    height: 100%;
}
.redStar{
    color: red;
    font-weight: bold;
}

 .displayTiffins .card .card-header{
    background-color: #010d24;
    color: white;
}
 .displayTiffins .card .card-body{
    padding: 2rem 1rem;
 }

.subPrice{
    font-size: 3rem;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    width: 100vw;
    /*display: none;*/
}

header .logo{
    color:var(--black);
    font-size: 2rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}
header .navbar{
    display: block;
}
header .navbar a{
    font-size: 1.5rem;
    border-radius: .5rem;
    padding:.5rem 1rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff !important;
    background: var(--green);
}

header .icons .circle_icon{
    cursor: pointer;
    margin:0;
    height:3.5rem;
    line-height: 3.5rem;
    width:3.5rem;
    text-align: center;
    font-size: 1.5rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}


header .icons i:hover,
header .icons a:hover{
    color:#fff ;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--green);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}

.home .home-slider {
    overflow: hidden !important;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    gap:2rem; 
    padding-top: 7rem;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color:var(--green);
    font-size: 1.5rem;
}

.home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 3rem;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--green);
}
.swiper-pagination {
    position: relative !important;
}
.dishes .box-container .box{
    padding: 1.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 1rem 2px;
}
.quantity{
    color: var(--green);
    font-size: 1.7rem;
    font-weight: bold;
    display: inline-block;
    margin: 0 1.6rem;
}

.quantity span{
    cursor: pointer;
    font-size: 2rem;
}

.box .eyeClick .fa-times{
    position: absolute;
    right: 0;
    background:var(--black);
    border-radius: 50%;
    height: 3rem;
    width:3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.box .eyeClick{
    display: none;
    position: absolute;
    right:0;
    top: 0;
    width:100%;
    height: 100%;
    background-color:#eee;
    overflow-y: scroll;
    padding: 1rem;
    transition: all .3s linear;
}

.box .eyeClick p{
    margin-top: 3rem;
}
.displayProducts p{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 22px;
    max-height: 45px;
    height: 45px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--green);
    color:#fff !important;
}

.dishes .box-container .box .fa-heart{
    right:-15rem;
}

.dishes .box-container .box .fa-eye{
    left:-15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right:1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left:1.5rem;
}

.dishes .box-container .box img{
    height:180px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2rem;
}

.dishes .box-container .box .stars{
    padding:1rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}

.dishes .box-container .box span{
    color:var(--green);
    font-weight: bolder;
    font-size: 2rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

.dishes .box-container,.menu .box-container{
    justify-content: space-evenly;
    display: flex;
    align-items: self-start;
    flex-wrap: wrap;
}

.menu .box-container .box{
    background: #fff;
    position: relative;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow); 
    width: 20rem;   
    margin-bottom: 1rem;
    margin-right: 2px;
}


.menu .box-container .box .image{
    height: 15rem;
    width: 100%;
    padding:1rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart,.menu .box-container .box .image .fa-eye{
    position: absolute;
    top:2.5rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
    cursor: pointer;
}
.menu .box-container .box .image .fa-heart
{
    right: 2.5rem;
} 

.menu .box-container .box .image .fa-eye
{
    left: 2.5rem;
} 

.menu .box-container .box .image .fa-heart:hover,.menu .box-container .box .image .fa-eye:hover{
    background-color: var(--green);
    color:#fff !important;
}

.menu .box-container .box .content{
    padding:1rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
   font-size: 1.3rem;
   color:var(--green);
}

.menu .box-container .box .content h3{
    color:var(--black);

}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.3rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--green);
    font-size: 2rem;
    font-weight: bolder;
}

.nav a{
    border: none !important;
}
.nav a:hover, .nav button:hover{
    color: #666 !important;
}

.review .slide{
    height: 375px;
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;    
 
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 4rem;
    color:#ccc;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}

.review .slide p{
    overflow: auto;
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
    height: 70%;
}
.review .slide p::-webkit-scrollbar {
  width: 3px;
}
.review .slide p::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.review .slide p::-webkit-scrollbar-thumb {
  background: #27ae60; 
  border-radius: 3px;
}
.nav-link {

    color:var(--green);

}
#tiffins .card{
    margin-bottom: 2rem !important;
}



/*user page css*/
.activity-wrapper{
    background: #f4f4f5;
    padding: 2rem 0;
    margin: 1rem 0;
}
.user-history {
    margin-top: 2rem;
}
.user-history .activities{
    background: var(--black);
    border-radius: 10px;
    padding-right: 0;
}
.activities .nav-tabs{
    border:none;
    padding: 1rem 0;

}
.activities .nav .nav-item{
        padding: 1rem 0;
}

.activities .nav-tabs .nav-link.active {
    color: var(--green) !important;
    border-radius: 10px 0 0 10px;
}
.activities .nav-tabs i{
    margin-right: 1rem;
}
.activities .nav-tabs a{
    color: #05f950  !important;
    padding: 1rem;
}
.activities .nav-tabs a:hover{
    color:var(--green) !important;
}
#Rate{

}
.star-rating ul{
    list-style-type: none;
}
.star-rating .star{
    cursor: pointer;
    padding: 1rem;
    font-size: 2rem;
}
.orange{
    color: orange;
}
.yellow{
    color: yellow;
}

/**/

.footer{

    background: #06163e;
    color: white !important;
    width: 100%;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    grid-gap:1rem; 
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:White;
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color: #929292;
}

.footer .box-container .box .social-icons{
    cursor: pointer;
    display: flex;
}

.footer .box-container .box a:hover,.footer .box-container .box .social-icons i:hover{
    color:white;
    padding-left: .5rem;
    text-decoration: underline;
}
.footer .box-container .questions a{
    color: var(--green);
}
.footer .box-container .questions i{
    padding-right: 1rem !important;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #929292;
    font-size: 1.5rem;
    color:var(--green);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}




/*cart css*/

.cartP{
    text-shadow: 2px -2px 4px #f8e606;
    color: #ff9800;
}
.cart .cartItems{
    display: flex;
    flex-wrap: nowrap;
    height: 14rem;
}

.cart .card{
    width: 540px;
}
.cart .card .quantity{
    margin: 0;
    display: block;
}
.cart .card .product-remove i{
    margin: 0 1px !important;
}
.cart .card:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}
.cartImg img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.cartImg{
    width: 35%;
}


.cart-total{
    z-index: 1000;
    padding: 16px 0;
    font-size: 1.5rem;
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.successMsg{
    position: absolute; 
    font-weight: bold;
    top: 85%;
    left: 44%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 999;
    display: none;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
}
.successMsg .green-tick{
    margin-right: 5px;
    color: green;
}
.count{

    position: absolute;
    top: -25%;
    right: -14%;
    background: var(--green);
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 13px;
    padding: 5px;
    line-height: 16px;

}
.proCate,.categories{
    overflow: auto;
    white-space:nowrap;
    margin-bottom: 2rem;
}

.proCate a,.categories  a{
    color: black  !important;
    padding: 2px 9px;
    margin: 0 4px;
    display: inline-block;
    text-align: center;
} 

.proCate a,.categories  a:not(:last-child){
    border-right: 2px solid #ccc;
}

.proCate .activeCate,.categories .activeCate {
    color: white !important;
     background-color: #063a52 !important;
    border-color:transparent !important;
    border-radius: 5px;
}
.userNavToggle {
    display: block;
    
}
.userNavToggle:hover {
    color:var(--black) !important;
}
.page-content{
    padding: 0 3rem;
}
.tiffinSection{

    border-bottom: 5px solid var(--green);

}

.tiffinSection a{
    color: var(--black);
    padding: 0.5rem 1rem;
}
.tiffinSection a:hover{
    color: #f7f6f6 !important;
    background: var(--green);
    padding: 0.5rem 1rem;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;

}

.tiffinSection .activeCate{
    color: #f7f6f6 !important;
    background: var(--green);
    padding: 0.5rem 1rem;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;

}

.modalDiv{
    position: relative;
    display: inline-block;
}
.userModal{
    position: absolute;
    display: none;
    margin: 1rem 0;
}
.userModal a{
    background: none !important;
    color: black !important;
    
}

.userModal li{
    cursor: pointer;
    padding: .1rem 1.5rem;
}
.userModal li:hover,.userModal li:hover a{
    background-color: #eeeeee;
    transform: none !important;
    color: var(--green) !important;
}
.changeLang{
    display: inline-block;
}
.changeLang #globe{
    cursor: pointer;
    font-size: 16px;
    position: relative;
    display: inline-block;
}
.changeLang #google_translate_element{
    position: absolute;
    display: none;
    margin: 1rem 0;
    right: 1rem;
}
body{
top: 0px !important; 
position: static !important; 
}

.goog-te-banner-frame{
display:none !important
}
.rateMsg .form-control{
  color: #f9fbfd !important;
   background-color: rgb(25 25 40) !important;
   border-radius: 15px;
   
}
.rateMsg .form-control:focus{
    border-color:#f4f4f5  !important; 
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgb(13 14 14 / 95%) !important;

}
/*checkout*/
.orderSumry .product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 4px;
}
.orderSumry .product .cartProDesc{
    width: 100%;
    margin-left: 1rem;
}
.orderSumry .product .cartimg img{
    width: 4rem;
    height: 3rem;
    object-fit: cover;
}

/* media queries  */

@media (max-width:991px){

    /*html{
        font-size: 55%;
    }*/
    
    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }
/*
    .home .home-slider .slide .content h3{
        font-size: 2rem;
    }
*/
    .cart{
      flex-direction: column;
   }

   /*.cart .products .product>img{
        width: 180px;
        height: 200px;
        object-fit:contain;
   }*/
  /* .cart .cart-total{
    margin-left: 0;
    margin-top: 1rem;
   }*/
   section .tab-content{
    margin-top: 5rem !important;
   }

}

@media (max-width:450px){
/*
    header .icons a,header .icons i{
    margin-left: 0.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
}
*/
.home .home-slider .slide{
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 7rem;
    gap:2rem;
    height: 80vh;
}
/*.home .home-slider .slide .image {
    flex: 1 1 20rem;
}*/
.home .home-slider .slide .content{
    flex:auto;
}

.swiper-pagination {
    position: relative;
}


   /* html{
        font-size: 50%;
    }*/

    .dishes .box-container .box img{
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }
   /* .cart .products .product{
         height: auto;
        flex-direction: column;
        align-items: inherit;
    }*/
   /* .cart .products .product .cartimg{
        width: 100%;
    }

    .cart .products .product .cartimg>img{
        width: 100%;
       object-fit:cover;
   }*/
.userLoginReg .card {
    width: 100% !important;
}

   .dishes .box-container .box,.menu .box-container .box{
        width: 100%;
    }
    .dishes .box-container,.menu .box-container{
        justify-content: center;
    }

}

 .vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  border-radius: 10px;
  margin-right: 1rem;
}
.userDash{
    padding-top: 10%;
    background-color:#f2efef;
}
.page-content {
   transition: all 0.4s;
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 9px;
} 

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.nav-link{
    text-transform: capitalize;
    font-weight: bolder;

}
.nav-link:hover{
    background:white;
}
.nav-link i{
    color: #859307;
    font-size: 16px;
    margin-right: 5px;
    width: 16px;
}
.activeNavItem{
    background-color: white !important;
}
.text-primary{
    color:#7579e7 !important;
}
@media (max-width: 768px) {
  .userDash{
        padding-top: 30%;
  }
  #sidebar {
    display: none;
  }
  .userNavToggle{
    display: block !important;
    font-size: 20px;
  }
  #sidebar.active {
    display: block !important;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    width: calc(100% - 17rem);
  }
}

/*profile page of user*/
.profilepg.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 2rem;
}

.profilepg.container .title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100px;
    background: linear-gradient(135deg,#71b7e6, #9b59b6);
}
form .user-details .input-box{
    margin-top: 15px;
    position: relative;
}
.user-details .input-box .details{
    font-weight: bolder;
    position: absolute;
    background: white;
    top: -9px;
    left: 8px;
    padding: 0 3px;
}
.user-details .input-box input{
height: 50px;
width: 100%;
outline: none;
border-radius: 5px;
border: 1px solid #ccc;
padding-left: 15px;
font-size: 16px;
border-bottom-width: 2px;
transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#9b59b6 ;
}

.ProfileButton{
    margin: 2rem 0;
    height: 40px;
    outline: none !important;
    border: none !important; 
    background-color: #3bb78f !important;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%) !important;
}

.ProfileButton:hover{
background-image: linear-gradient(-200deg, #3bb78f 0%, #0bab64 74%) !important;
}


/*login register page css*/

.gotoWeb{
    border: 2px solid #ff9800;
    display: inline-block;
    padding: 0.7rem 1rem;
    line-height: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: var(--black);
}

.userLoginReg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userLoginReg .card {
    width: 400px;
    height: 700px;
    /*perspective: 1000px;*/
}

.userLoginReg .inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.userLoginReg .card-front,.userLoginReg .card-back{
    position: absolute;
    width: 100%;
    height: 100%;   
    background-color:#c1b6b642;
    padding: 25px 50px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

  .divider:before{
    content:"";
    width: 120px;
    height: 1px;
    top:50%;
    display: block;
    left: 0;
    position: absolute;
    background-color: #bdb6b6;
    z-index: -1;
  }
  .divider:after{
    content:"";
    width: 120px;
    height: 1px;
    top:50%;
    display: block;
    right: 0;
    position: absolute;
    background-color: #bdb6b6;
    z-index: -1;
  }
.userLoginReg .card-back{
    transform: rotateY(180deg);
}
.userLoginReg .card h2{
     font-weight: bold;
     font-size: 24px;
     text-align: center;
     margin-bottom: 4px;
     color: var(--black);
}
.userLoginReg .input-box{
    width: 100%;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    padding:6px;
    box-sizing: border-box;
    outline: none;
    color: #000000;
    font-weight: bold;
 }
.userLoginReg .form-label{
    font-weight: bolder;
    margin: 3px 0;
    font-size: 1.5rem !important;
}
 .userLoginReg button{
    width: 100%;
    border: 1px solid #000000;
    margin: 15px 0 10px;
    height: 32px;
    font-size: 16px;
    border-radius: 2px;
    background: var(--black);
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: white;
    cursor: pointer;
    transition: .2s linear;

 }
  .userLoginReg button:hover{
    background-color: black;
    color: white;
  }
 
 .userLoginReg .submit-btn{
    position: relative;
  }
 
 .userLoginReg .submit-btn: :after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #000000;
    position: absolute;
    right: -1px;
    top: -1px;
 }
 
 .userLoginReg span{
    font-size: 13px;
    margin-left: 10px;
 }

/*.userLoginReg .card .btn{
    margin-top: 70px;
}*/
.userLoginReg .card a{
    color: #000000;
    text-decoration: none;
    display:block;
    text-align: center;
    font-size: 15px;
    margin-top: 9px;
}

/* rate us css................*/


.ratingWrappper .wrapper{
  width: 100%;
  background: #f6f6f6;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.ratingWrappper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ratingWrappper .wrapper .content{
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ratingWrappper .wrapper .outer{
  height: 135px;
  width: 135px;
  overflow: hidden;
}
.ratingWrappper .outer .emojis{
  height: 500%;
  display: flex;
  flex-direction: column;
}
.ratingWrappper .outer .emojis li{
  height: 20%;
  width: 100%;
  list-style: none;
  transition: all 0.3s ease;
}
.ratingWrappper .outer li img{
  height: 100%;
  width: 100%;
}
.ratingWrappper #star-2:checked ~ .content .emojis .slideImg{
  margin-top: -135px;
}
.ratingWrappper #star-3:checked ~ .content .emojis .slideImg{
  margin-top: -270px;
}
.ratingWrappper #star-4:checked ~ .content .emojis .slideImg{
  margin-top: -405px;
}
.ratingWrappper #star-5:checked ~ .content .emojis .slideImg{
  margin-top: -540px;
}
.ratingWrappper .wrapper .stars{
  margin-top: 30px;
}
.ratingWrappper .stars label{
  font-size: 30px;
  margin: 0 3px;
  color: #ccc;
}
#star-1:hover ~ .content .stars .star-1,
#star-1:checked ~ .content .stars .star-1,

#star-2:hover ~ .content .stars .star-1,
#star-2:hover ~ .content .stars .star-2,
#star-2:checked ~ .content .stars .star-1,
#star-2:checked ~ .content .stars .star-2,

#star-3:hover ~ .content .stars .star-1,
#star-3:hover ~ .content .stars .star-2,
#star-3:hover ~ .content .stars .star-3,
#star-3:checked ~ .content .stars .star-1,
#star-3:checked ~ .content .stars .star-2,
#star-3:checked ~ .content .stars .star-3,

#star-4:hover ~ .content .stars .star-1,
#star-4:hover ~ .content .stars .star-2,
#star-4:hover ~ .content .stars .star-3,
#star-4:hover ~ .content .stars .star-4,
#star-4:checked ~ .content .stars .star-1,
#star-4:checked ~ .content .stars .star-2,
#star-4:checked ~ .content .stars .star-3,
#star-4:checked ~ .content .stars .star-4,

#star-5:hover ~ .content .stars .star-1,
#star-5:hover ~ .content .stars .star-2,
#star-5:hover ~ .content .stars .star-3,
#star-5:hover ~ .content .stars .star-4,
#star-5:hover ~ .content .stars .star-5,
#star-5:checked ~ .content .stars .star-1,
#star-5:checked ~ .content .stars .star-2,
#star-5:checked ~ .content .stars .star-3,
#star-5:checked ~ .content .stars .star-4,
#star-5:checked ~ .content .stars .star-5{
  color: #fd4;
  cursor: pointer;
}
.ratingWrappper .wrapper .footer{
  border-top: 1px solid #ccc;
  background: #f2f2f2;
  width: 100%;
  height: 55px;
  padding: 0 20px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ratingWrappper .footer span{
  font-size: 17px;
  font-weight: 400;
  font-weight: bolder;
  color: black;
}
.ratingWrappper .footer .text::before{
  content: "Rate your experience";
}
.ratingWrappper .footer .numb::before{
  content: "0 out of 5";
}
.ratingWrappper #star-1:checked ~ .footer .text::before{
  content: "I just hate it";
}
.ratingWrappper #star-1:checked ~ .footer .numb::before{
  content: "1 out of 5";
}
.ratingWrappper #star-2:checked ~ .footer .text::before{
  content: "I don't like it";
}
.ratingWrappper #star-2:checked ~ .footer .numb::before{
  content: "2 out of 5";
}
.ratingWrappper #star-3:checked ~ .footer .text::before{
  content: "This is awesome";
}
.ratingWrappper #star-3:checked ~ .footer .numb::before{
  content: "3 out of 5";
}
.ratingWrappper #star-4:checked ~ .footer .text::before{
  content: "I just like it";
}
.ratingWrappper #star-4:checked ~ .footer .numb::before{
  content: "4 out of 5";
}
.ratingWrappper #star-5:checked ~ .footer .text::before{
  content: "I just love it";
}
.ratingWrappper #star-5:checked ~ .footer .numb::before{
  content: "5 out of 5";
}
.ratingWrappper input[type="radio"]{
  display: none;
}





