


a{
	text-decoration: none !important;
}

*{
    font-size: 98%;
}

.card .social>a{
	    color: #e8eef3;
    background: #07124e;
    border-radius: 50%;
}

.redStar{
	color: red !important;
}










